<div class="border-top border-secondary"></div>
    <h1 class="mt-5">Contact</h1>
    <p>Donec ullamcorper nulla non metus auctor fringilla. Aenean lacinia bibendum nulla sed consectetur. Sed posuere consectetur est at lobortis.</p>
    <div class="border-1 bg-light bg-gradient mx-auto w-50 p-3 mb-5">
            <form>
                <div class="mb-3 d-flex">
                    <label for="exampleFormControlInput1" class="form-label w-50 p-3 text-end">Your Email</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                </div>
                <div class="mb-3 d-flex">
                    <label for="exampleFormControlTextarea1" class="form-label w-50 p-3 text-end">Your Message</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Please enter your message here..."></textarea>
                </div>
            
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-primary me-md-2" type="button">Submit</button>
                </div>
            </form>
        </div>
    </div>