<!-- your html code here -->
<div class="row m-5 border-top border-secondary d-inline-flex">
    <div class="col-8">
        <h2 class="pt-5">
            This First Heading
            <small class="text-muted">Will Catch Your Eye</small>
        </h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, alias? Ab unde, molestiae incidunt officia commodi iusto, veniam architecto consectetur voluptate voluptatum libero alias odit sapiente necessitatibus sequi? Aspernatur, molestias.</p>
    </div>
    <div class="col-4 pt-5">
        <div class="justify-content-end">
            <img src="assets/img/1.jpg" alt="" class="rounded-circle img-fluid">
        </div>
    </div>
</div>